# Sanal Ortam
venv/
env/
.env

# Python Önbellek Dosyaları
__pycache__/
*.py[cod]
*$py.class

# PyTorch ve Yapay Zeka Model Ağırlıkları (Çok büyük boyutlu, repoyu şişirir)
*.pt
*.pth
models/pretrained/

# VS Code ve İşletim Sistemi Ayarları
.vscode/
.DS_Store
Thumbs.db

# Kullanıcıların Yüklediği veya Üretilen Görüntüler
uploads/
outputs/
*.jpg
*.png

.venv/
